<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!--Change the browser details as per the execution-->
  <add key="Browser" value="Chrome"></add>
  
  <!--Provide the Application URl here-->
  <add key="AvidPay Internal" value="internal.AZRFSWDVS02.avidxchange.com"/>

  <add key="username" value="X107107"></add>
  <add key="password" value="THVkOTc5NzU="></add>
  
</appSettings>
